body, html {
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

header h1 {
    text-align: center;
}

.nav-button {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
}

.nav-button:hover {
    background-color: #777;
}

.project {
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#contact-form > * {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

#contact-form button {
    background-color: #555;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

#contact-form button {
    background-color: #777;
}